{% extends "base.html" %}
{% block title %}Export DUNE Collaboration List{% endblock %}

{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/tablesorter.css" %}")?>
{% endblock %}

{% block content %}

<h1> Export the DUNE collaboration list</h1>
<ul>
  <li> The DUNE collaboration database can be exported into a number of different file
types.  Select the desired one from the drop down list.  </li>
  <li> Setting an "active date" will return the state of the collaboration on that date.  Leaving the date empty will ignore collaborator begin and end dates.</li>
</ul>

<div>
  <form action="{{ SITE_ROOT }}/members/export/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock %}
