{% extends "base.html" %}
{% block title %}DUNE Collaboration{% endblock %}

{% block content %}

<h2>{{ member.name }}: {{ member.desc }}</h2>
{% if perms.members.change_role %}
<a href="{{ SITE_ROOT }}/admin/members/role/{{ member.id }}">[edit]</a>
{% endif %}
<p>
  <ul>
    {% for ind in member.individual_set.all %}
    <li>
      <a href='{{ ind.get_absolute_url }}'>{{ ind.full_name }}</a>
      (<a href='{{ ind.institution.get_absolute_url }}'>{{ ind.institution.full_name }}</a>)
    </li>
    {% endfor %}
  </ul>
</p>

{% endblock %}
