<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}
<head>

    <link rel="stylesheet" type="text/css" href="{% static "css/lbne_style.css" %}")?>
    {% block extra_head %}{% endblock %} 
    <title>{% block title %}LBNE Web{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
	  <li><a href="{{ SITE_ROOT }}/">Home</a></li>
	  <li><a href="https://lbne.bnl.gov/wiki/">Wiki</a></li>
          <li><a href="{{ SITE_ROOT }}/members/search">Search</a></li>
          <li><a href="{{ SITE_ROOT }}/members/export/">Export</a></li>
          <li><a href="{{ SITE_ROOT }}/admin/">[Admin]</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{% static "js/jquery-1.6.1.min.js" %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
