{% extends "base.html" %}
{% block title %}LBNE Collaboration{% endblock %}

{% block content %}

<h2>{{ member.full_name }}</h2>
<p>
  <ul>
    <li>
      <a href='{{ member.institution.get_absolute_url }}'>{{ member.institution.full_name }}</a>
    </li>
    <li>{{ member.email }}</li>
    <li>{{ member.phone }}</li>
    <li>Roles:</li>
    <ul>
    {% for role in member.role.all %}
    <li>{{ role.desc }} [<a alt="{{ role.desc }}" href="{{ role.get_absolute_url }}">{{ role.name }}</a>]</li>
    {% endfor %}
    </ul>
    {% if member.begin_date %}
    <li>Date Joined: {{ member.begin_date }}</li>
    {% endif %}
    {% if perms.members.change_individual %}
    <li> <a href="{{ SITE_ROOT }}/admin/members/individual/{{ member.id }}">[edit]</a></li>
    {% endif %}
  </ul>
</p>


{% endblock %}
