{% extends "base.html" %}
{% block title %}LBNE Collaboration{% endblock %}

{% block content %}

<h2>Export Files</h2>

These are generated dynamically from the current database. 

<h3>Text</h3>
<ul>
<li><a href="{{ SITE_ROOT }}/members/export/lbneiblist.txt">lbneiblist.txt</a></li>  per institution membership with IB representatives noted
<li><a href="{{ SITE_ROOT }}/members/export/lbnephonelist.txt">lbnephonelist.txt</a></li>  per institution member contact info.
</ul>

<h3>LaTeX</h3>
<ul>
<li><a href="{{ SITE_ROOT }}/members/export/lbneauthor-payload.tex">lbneauthor-payload.tex</a></li>  Just the author list
<li><a href="{{ SITE_ROOT }}/members/export/lbneauthor.tex">lbneauthor.tex</a></li> the above author list plus main document parts.
</ul>

<h3>PDF</h3>
<ul>
<li><a href="{{ SITE_ROOT }}/members/export/lbneauthor.pdf">lbneauthor.pdf</a></li> compiled version of the LaTeX.
</ul>

<h3>XLS</h3>
<ul>
<li><a href="{{ SITE_ROOT }}/members/export/lbneauthors.xls">lbneauthors.xls</a></li> spreadsheet for Gnumeric, Libre/Open Office and others
</ul>

{% endblock %}
